.fade-in {
    animation: fadeIn ease 1s;
    /* -webkit-animation: fadeIn ease 20s;
    -moz-animation: fadeIn ease 20s;
    -o-animation: fadeIn ease 20s;
    -ms-animation: fadeIn ease 20s; */
}

.fade-out {
    animation: fadeOut ease 1s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.card-enter {
    opacity: 0.01;
    transition: opacity 1s ease-in;
  }
  
  .card-enter.card-enter-active {
    opacity: 1;
  }
  
  .card-leave {
    opacity: 1;
    transition: opacity 1s ease-in;
  }
  
  .card-leave.card-leave-active {
    opacity: 0.01;
  }
